{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<div class="row">
    <div class="col-lg-6 mb-4" style="margin: auto">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">ADD RECORD - NEW GRADE RECORD</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'add_grade' %}" method="POST">
                    {% csrf_token %}
                    <label for="">Grade Points</label>
                    {% render_field form.points|add_class:"form-control" %}
                    <br>
                    <label for="">Letter Grade</label>
                    {% render_field form.letter|add_class:"form-control" %}
                    <br>
                    <button type="submit" class="btn btn-primary">Add New Grade</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}