{% extends "base.html" %}
{% block content %}
<br>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Grade - Delete Records</h1>
</div>
<div class="row">
    {% for grade in grades %}
    <div class="col-xl-4 col-md-6 mb-4">
        <div>
            <div class="card border-left-warning shadow h-100 py-2" >
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">GRADE</div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">{{grade.letter}}</div>
                            <span class="text-xs">Credit Points - {{grade.points}}</span><br>
                        </div>
                        <div class="col-auto d-block ml-auto mr-5">
                            <a style="text-decoration: none;" class="fas fa-trash fa-3x text-gray-300" href="{% url 'del_grade' pk=grade.id %}"></a>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}