{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<div class="row">
    <div class="col-lg-6 mb-4" style="margin: auto">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">EDIT RECORD - EDIT GRADE RECORD</h6>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="">Grade Points</label>
                    <input type="text" class="form-control" name="points" value="{{obj.points}}">
                    <br>
                    <label for="">Letter Grade</label>
                    <input type="text" class="form-control" name="letter" value="{{obj.letter}}">
                    <br>
                    <button type="submit" class="btn btn-primary">Edit Grade</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}