{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<style>
.hide{
    display: none;
}
</style>

<div class="row">
    <div class="col-lg-6 mb-4" style="margin: auto">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">ENROLL - SEMESTER MARKS</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'enroll_semester' %}" method="GET">
                    <label for="">Department</label>
                    <input type="text" class="form-control" name="department">
                    <br>
                    <label for="">Semester</label>
                    <input type="text" class="form-control" name="semester">
                    <br>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
                <hr>
                <form action="{% url 'enroll_semester' %}" method="POST">
                    {% csrf_token %}
                    <label for="">Student Name</label>
                    {% render_field form.student|add_class:"form-control" %}
                    <br>
                    <label for="">Subject</label>
                    {% render_field form.subject|add_class:"form-control" %}
                    <br>
                    {% render_field form.grade|add_class:"hide" %}
                    {% render_field form.result|add_class:"hide" %}
                    <button type="submit" class="btn btn-primary">Enroll</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}