{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}

<style>
.hidden{
    display: none
}
</style>

<div class="row">
    <div class="col-lg-6 mb-4" style="margin: auto">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">ENROLL - INTERNAL MARKS</h6>
            </div>
            <div class="card-body">
                <form action="{% url 'enroll_internal' %}" method="GET">
                    <label for="">Department</label>
                    <input type="text" class="form-control" name="department">
                    <br>
                    <label for="">Semester</label>
                    <input type="text" class="form-control" name="semester">
                    <br>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
                <hr>
                <form action="{% url 'enroll_internal' %}" method="POST">
                    {% csrf_token %}
                    <label for="">Student Name</label>
                    {% render_field form.student|add_class:"form-control" %}
                    <br>
                    <label for="">Subject</label>
                    {% render_field form.subject|add_class:"form-control" %}
                    <br>
                    {% render_field form.dept|add_class:"form-control" %}
                    {% render_field form.marks1|add_class:"hidden" value=0 %}
                    {% render_field form.marks2|add_class:"hidden" value=0 %}
                    {% render_field form.marks2|add_class:"hidden" value=0 %}
                    {% render_field form.marks3|add_class:"hidden" value=0 %}
                    {% render_field form.marks|add_class:"hidden" value=100 %}
                    {% render_field form.marksob|add_class:"hidden" value=0 %}
                    <button type="submit" class="btn btn-primary" >Enroll</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}