{% extends "base.html" %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard - Super User</h1>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Assign Jobs</h1>
</div>

<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'assign_internals' %}" style="text-decoration: none;">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Assign Staff</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Internal Marks</div>
                            <span class="text-xs">For internal marks portal</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'assign_semesters' %}" style="text-decoration: none;">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Assign Staff</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Semester Marks</div>
                            <span class="text-xs">For semester marks portal</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Academics</h1>
</div>

<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'assigned_class' %}" style="text-decoration: none;">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Academics</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Internal Marks</div>
                            <span class="text-xs">Internal marks portal</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'assigned_sem' %}" style="text-decoration: none;">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Academics</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Semester Marks</div>
                            <span class="text-xs">Semester marks portal</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="#" style="text-decoration: none;">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Academics</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Attendance</div>
                            <span class="text-xs">Attendance portal</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">New Records Creation</h1>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="{% url 'enroll_internal' %}" style="text-decoration: none;">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">New Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Enroll - Internal</div>
                            <span class="text-xs">Enroll a student for Internals</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="{% url 'finish_int' %}" style="text-decoration: none;">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Finish Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Finalise Internals</div>
                            <span class="text-xs">Internal Mark Record</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="{% url 'enroll_semester' %}" style="text-decoration: none;">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">New Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Enroll - Semester</div>
                            <span class="text-xs">Enroll a student for Semesters</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="{% url 'finish_sem' %}" style="text-decoration: none;">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Finish Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Finalise Semesters</div>
                            <span class="text-xs">Semester Mark Record </span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User Records</h1>
</div>

<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'add_student' %}" style="text-decoration: none;">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">New Student Record
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Student</div>
                            <span class="text-xs">Add a new record of a new Student</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'add_staff' %}" style="text-decoration: none;">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">New Staff Record
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Add Staff Record</div>
                            <span class="text-xs">Add new staff record</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="" style="text-decoration: none;">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Delete Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Student / Staff</div>
                            <span class="text-xs">Delete a record of a Student / Staff</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Subject Records</h1>
</div>

<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'add_subject' %}" style="text-decoration: none;">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">New Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Subject</div>
                            <span class="text-xs">Add a new record of a new Subject</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'edit_sub' %}" style="text-decoration: none;">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Edit Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Subject</div>
                            <span class="text-xs">Edit a record of a Subject</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'delete_sub' %}" style="text-decoration: none;">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Delete Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Subject</div>
                            <span class="text-xs">Delete a record of a Subject</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-book-reader fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Grade Records</h1>
</div>

<div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'add_grade' %}" style="text-decoration: none;">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">New Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Grade</div>
                            <span class="text-xs">Add a new record a new Grade</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-trophy fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'edit_grades' %}" style="text-decoration: none;">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Edit Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Grade</div>
                            <span class="text-xs">Edit a record of a Grade</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-trophy fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <a href="{% url 'delete_grade' %}" style="text-decoration: none;">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Delete Record</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Grade</div>
                            <span class="text-xs">Delete a record of a Grade</span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-trophy fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}