{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}

<br><br>
<div class="row">
    <a href="#" class="col-lg-4 mb-3"
        style="margin-right: 2%; margin-left: auto; text-decoration: none;">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger text-center">EDIT STUDENT - RECORD</h6>
            </div>
            <div class="card-body">
                <p class="text-center">Click here to proceed for deleting a student record.</p>
            </div>
        </div>
    </a>
    <a href="#" class="col-lg-4 mb-3"
        style="margin-left: 2%; margin-right: auto; text-decoration: none;">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-danger text-center">EDIT STAFF - RECORD</h6>
            </div>
            <div class="card-body">
                <p class="text-center">Click here to proceed for deleting a student record.</p>
            </div>
        </div>
    </a>
</div>
{% endblock content %}