{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <div class="col-lg-6 mb-4" style="margin: auto">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary text-center">ADD RECORD - NEW STUDENT RECORD</h6>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Create Student</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
    
{% endblock content %}