.body{
    background-color: aliceblue;
    padding: 5% ;
}
.login-card{
    margin: auto;
    width: 70%;  
    box-shadow: 1px 1px 10px rgb(56, 56, 56) ;
    height: 550px

}
.login-card-inline{
    float: auto;
    padding: 5% 5% 0px
}
.c1{
    margin: 0px;
    width: 50%;
    background-color: rgb(92, 11, 197);
    text-align: center;
    padding: 20% 0px;
    float: left;
    height: 550px
}
.c2{
    margin: 0px;
    width: 50%;
    float: right;
    text-align: center;
    background-color: white;
    padding: 15% 0px;
    height: 550px
}
.fa {
    text-decoration: none;
    margin: auto;
    color: aliceblue;
}
.label{
    color: white;
    font-size: 40;
}
.divider{
    width: 50%;
    background-color: rgba(240, 248, 255, 0.596)
}
.form-in{
    width: 60%;
    margin: auto;
}
.text{
    width: 70%;
    margin: auto;
    color: rgb(95, 95, 95)
}
