{% extends "base.html" %}
{% block content %}
{% load widget_tweaks %}
<br>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Records Assigned</h1>
    <a href="{% url 'delete_semester' id=id id2=id2 %}"
        class="btn btn-outline-success">Complete Portal Update</a>
</div>
<div class="row">
{% for obj in objs %}
<div class="col-xl-3 col-md-6 mb-4">
    <a style="text-decoration: none;">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{obj.subject.subname}}
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            {{obj.student}}
                        </div>
                    </div>
                    <div class="col-auto">
                        <h2>{{obj.grade.letter}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
{% endfor %}
</div>

{% endblock content %}